*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: rgb(230, 144, 144);
    
}

main-heading h2{
    margin-bottom: 20px;
    
}

button{
    display: inline-block;
    background: #f8b627;
    color: #ca3333;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 10px;
    z-index: 100000;
}
img{
    width: 100px;
}